@font-face {
  font-family: "Cuprum";
  src: 
    url("../fonts/web/cuprum.woff2") format("woff2"),
    url("../fonts/web/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  src: 
    url("../fonts/web/cuprumbold.woff2") format("woff2"),
    url("../fonts/web/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  src: 
    url("../fonts/web/cuprumitalic.woff2") format("woff2"),
    url("../fonts/web/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: bold;
  src: 
    url("../fonts/web/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/web/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  src: 
    url("../fonts/web/ptsans.woff2") format("woff2"),
    url("../fonts/web/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: 
    url("../fonts/web/ptsansbold.woff2") format("woff2"),
    url("../fonts/web/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f3f7f9;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  margin-bottom: 45px;
}

.bookmark,
.cart,
.order-btn {
  width: 150px;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
}

.bookmark {
  padding-left: 54px;
}

.bookmark::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 27px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart {
  padding-left: 50px;
}

.cart::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.order-btn {
  padding-left: 20px;
}

.header-top a {
  color: #ffffff;
  text-transform: inherit;
}

.header-top a:first-child {
  text-transform: uppercase;
}

.header-top input  {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #293449;
  position: relative;
  border: #293449;
  width: 270px;
  border: none;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 49px;
  
}

.header-top input::before  {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo {
  display: block;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 10px 55px;
 }

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}


.bookmark:focus, 
.search-field:focus,
.cart:focus,
.bookmark:hover,
.search-field:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmark:active,
.cart:active {
  color: #8b8e94;
  background-color: #161d29;
}

.search-field:active {
  background-color: #ffffff;
}

.order-btn {
  background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #5fbb2d;
}

.order-btn:active {
  background-color: #518534;
}

li {
  list-style: none;
}

.header-center {
  margin: auto;
  padding: 0 10px;
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.headline {
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  color: #ef505b;
  width: 300px;
  padding-left: 70px;
  padding-right: 60px;
}

.contact {
  width: 300px;
  margin-left: auto;
  text-align: center;
}

.phone {
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 70px;
  margin-bottom: 10px;
}

.phone::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-transform: none;
  padding-left: 10px;
}

.user-container {
  width: 300px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;
  text-align: center;
  margin-left: auto;
  padding-left: 20px;
}

.login,
.registration {
  width: 121px;
  background-color: #ffffff;
}

.user-container a:hover,
.user-container a:focus,
.user-profile a:hover,
.user-profile a:focus {
  color: #ee3643;
}

.user-container a:active,
.user-profile a:active {
  color: #cacaca;
}

.loged {
  font-size: 21px;
  line-height: 21px;
  color: inherit;
  background-color: #ffffff;
}

.user-profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
 }

.main-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  width: auto;
  margin-bottom: 60px;
}

.site-navigation {
  display: flex;
  justify-content: center;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-transform: inherit;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: #8e939c;
  background-color: #1d2739;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs  a{
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.main-features {
  display: flex;
  width: 960px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  min-height: 410px;
  margin-bottom: 55px;
}

.main-features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: inherit;
}

.page-title h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.page-title {
  background-color: #f2f6f8;
}

.features-item {
  width: 300px;
  background-repeat: no-repeat;
  background-position: right;
}

.features-item a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(229, 229, 229, 0.3);
  width: 135px;
  height: 38px;
}
.material {
  background-image: url("../img/icon-pail.png");
}

.tool {
  background-image: url("../img/icon-drill.png");
}

.technic {
  background-image: url("../img/icon-tractor.png");
}

.discount {
  background-image: url("../img/icon-cart.png");
  margin-top: auto;
  margin-bottom: auto;
}

.delivery {
  background-image: url("../img/icon-car.png");
  margin-left: auto;
  margin-top: auto;
}

.slide {
  width: 620px;
  background-color: #725348;
  background-image: url("../img/slide1.jpg");
 
}

.slide h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slide span {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-transform: none;
}

.features-item a:hover,
.features-item a:focus {
  background-color: rgba(204, 204, 204, 0.3);
}

.features-item a:active {
  background-color: rgba(178, 178, 178, 0.3);
}

.material,
.delivery {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.discount{
  background-color: #8ed78f;
 
}

.title-popular,
.title-brands {
  width: 920px;
  background-color: #f9f5f0;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-popular h3,
.title-brands h3 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;

}

.filter-title,
.sort-list a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  width: 220px;
}

.sort-list a {
  color: #b2b2b2;
  border-bottom: 1px dashed #ee3643;
}

.sort-list .active-sort {
  color: #ee3643;
  border-bottom: none;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-list a:active {
  color: #ee3643;
}

.catalog-columns {
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sort {
  background-color: #f7f3ec;
  width: 700px;
  align-self: flex-start;
  margin-left: auto;
}

.filter {
  width: 220px;
}

.filter-item h3 {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.price {
  background-color: #f7f3ec;
}

.popular-list,
.brands-list {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-bottom: 20px;
}

.catalog-list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}


.product-item {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  line-height: 20px;
}

.product-item .flag{
  position: absolute;
  top:- 1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
   z-index: 20;
}

.product-item .flag-new {
  background:url("../img/new\ flag.png") no-repeat 0 0;
}

.product-item .choice{
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);

}
.choice .buy,
.choice .inbookmark{
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 10px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315; 
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;    
  border-radius: 3px;
}
.product-item .choice .inbookmark{
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}
.product-item .choice{
  display: none;
}
.product-item:hover .choice{
  display: block;
}
.product-item .image{
  width: 218px;
  height: 168px;
}

.product-item .image img{
  max-width:100%;
}

.product-item .product-title{
  min-height: 40px;
  padding :0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}
.product-item .old-price{
  min-height: 20px;
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
}
.product-item .price-btn{
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #ffffff;
  background: #ee3643;
  border-radius:3px;
}
.product-item .price-btn:after{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.brand-list label,
.power-list label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.brand-list label:active,
.power-list label:active {
  color: #cccccc;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

button:active {
  background-color: #ba2732;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item a {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus, {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  color: #000000;
  border: 1px solid #ee3643;
}

.brands-list li {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  text-align: center;
  vertical-align: middle;
}

.services-content {
  margin: auto;
  padding: 0 10px;
  background-color: #f4f8fa;

}

.service-item {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.service {
  display: block;
  width: 400px;
  margin-left: 120px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.service-block,
.service-buttom {
  width: 240;
  margin-right: auto;
  align-self: center;

}

.services-content p,
.product-info p,
.info p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
}

.service-title,
.info-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum" Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.services-content span {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.delivery-service span,
.garanty-service span,
.credit-service span {
  width: 300px;
  padding-top: 150px;
  margin: auto;

}

.delivery-service {
  width: 630;
  padding: 150px;
  background-image: url(../img/delivery-car.png);
  background-repeat: no-repeat;
  background-position: right;
}

.garanty-service {
  width: 630;
  padding: 150px;
  background-image: url(../img/garanty.png);
  background-repeat: no-repeat;
  background-position: right;
}

.credit-service {
  width: 630;
  padding: 150px;
  background-image: url(../img/credit-money.png);
  background-repeat: no-repeat;
  background-position: right;
}

.service-buttom label {
  width: 218px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #4e637c;
  border-bottom: 1px solid #33445a
}

.service-buttom label:active {
  color: #32425c;
  background-color: inherit;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: auto;
  margin-bottom: 85px;
}

.info-company {
  width:  620px;
  margin-right: 100px;
  padding-right: 20px;
}

.info-contact {
  width: 300px;
}

.info li {
  font-size: 18px;
  line-height: 20px;
}

.product-info {
  background-color: #f2f6f8;
}

.product-info h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.footer-top {
  width: 100%;
  background-color: #32425c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.footer-top .logo,
.footer-adress {
  margin-right: auto;
  margin: 0;
}

.footer-adress p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: none;
}

.footer-navigation a,
.footer-adress a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: none;
}

.footer-product a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  text-transform: none;
}

.footer-bottom {
  background-color: #293449;
  margin: auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  width: 230px;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;
}

.footer-social {
  width: 150;
  text-align: center;
}

.footer-social a {
  color: #ffffff;
}

.develop {
  width: 300px;
}

.develop a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
  text-transform: lowercase;
}

.modal-message {
  background-color: #ffffff;
}

.modal label {
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
}

.message-form input,
.message-form textarea {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: none;
  border: 2px solid #dee3e4;
}

.message-form input:focus,
.message-form textarea:focus {
  border-color: #ee3643;
}

.message-form input:hover,
.message-form textarea:hover {
  border-color: #b5b5b5;
}
